# ── Base de datos ──────────────────────────────
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password_aqui
DB_NAME=sazonapp

# ── Servidor ───────────────────────────────────
PORT=3001

# ── JWT ────────────────────────────────────────
JWT_SECRET=sazonapp_clave_secreta_2026
JWT_EXPIRES_IN=8h
